/*.sdf-container {
  width: 600px;
  border: 1px solid lightblue;
  margin-left: 350px;
  margin-top: 100px;
  padding-bottom: 10px;
}

.sdf-header {
  text-align: center;
  padding: 10px 0px;
}

.sdf-div-container {
  padding: 0px 10px;
}

.sdf-border-color {
  border: 1px solid white;
}*/

ul li {
  display: inline;
  padding: 5px;
  padding-bottom: 5px;
}

ul li button {
  //border: 1px solid blue($color: #000000);
  background-color: blue($color: #000000);
}

div {
  form {
    .sdf-submit-btn {
      margin-left: 45%;
      background-color: rgb(2, 117, 216);
      border-style: none;
      border-radius: 5px;
      padding: 5px 20px;
    }
  }
}

.sdf-btn-color {
  background-color: rgb(2, 117, 216);
  color: white;
}
